<h2>Quiz 1 : Sifat List</h2>

Jawab Pertanyaan di bawah ini :

Jenis data apa saja yang bisa ada di dalam List?

 list, ada numerik, string, boolean, dan sebagainya

<h2>Quiz 2 : Akses List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
# slicing list
print(a[1:5])

['13b', 'aa1', 1.32, 22.1]

Expected Output :

[ '13b', 'aa1', 1.32, 22.1 ]

<h2>Quiz 3 : Nested List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [1.32, 22.1, 2.34]
b = ['1', '13b', 'aa1']
c = [3, 40, 100]
# combine list
d = [a, c, b]
print(d)

[[1.32, 22.1, 2.34], [3, 40, 100], ['1', '13b', 'aa1']]

Expected Output :

[ [1.32, 22.1, 2.34], [3, 40, 100], ['1', '13b', 'aa1'] ]

<h2>Quiz 4 : Akses Nested List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
# subsetting list
print(a[1][1:3])

[0, 6]

Expected Output :


[0, 6]

<h2>Quiz 5 : Built in Function List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
p = [0, 5, 2, 10, 4, 9]
# ordered list
print(sorted(p, reverse=False))
# get max value of list
print(max(p))

[0, 2, 4, 5, 9, 10]
10

Expected Output :

[0, 2, 4, 5, 9, 10]

10

<h2>Quiz 6 : List Operation</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [1, 3, 5]
b = [5, 1, 3]
# combine list
c = b + a
print(c)

[5, 1, 3, 1, 3, 5]

Expected Output :

[5, 1, 3, 1, 3, 5]

<h2>Quiz 7 : List Manipulation</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
# change list value
a[0][2] = 10
# change list value
a[1][0] = 11
print(a)

[[5, 9, 10], [11, 0, 6]]

Expected Output :

[ [5, 9, 10], [11, 0, 6] ]

<h2>Quiz 8 : Delete Element List</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

# Hilangkan elemen yang bernilai "bathroom" dan 10.50 dalam satu statement code
del(areas[8], areas[8])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

Expected Output :

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'poolhouse',
 24.5,
 'garage',
 15.45]