1. Mana dari statement berikut ini yang benar mengenai Pandas Series dan DataFrame?
Semuanya Benar

2. Apakah objek dataframe teridiri dari objek-objek series? 
True

3. Bagaimana process grouping dengan method groupby di pandas
Splitting - Applying - Combining

4. Mana di bawah ini statement yang benar mengenai Pandas index?
Semuanya Benar

5. Mana method berikut yang akan menghasilkan summary statistic dari dataframe?
.describe()

6. Diantara opsi berikut ini, operasi mana di pandas yang syntax nya sama seperti di dictionary?
Semuanya Benar

7. Series adalah array satu dimensi yang memiliki label dan bisa berisi berbagai tipe data.
True

8. Apa jenis penggabungan yang diterapkan pada parameter 'how' jika df_gabung adalah hasil dari df1.merge(df2, on='....', how='....')?
right

9. Apa Jenis penggabungan data berikut
Left Join

10. Mana berikut di bawah ini yang bukan merupkan fungsi reshaping data?
Tidak ada, Semuanya merupakan fungsi reshaping data

11. Mana code berikut adalah cara yang benar untuk mengambil baris Umur dan column Nama dari sebuah dataframe bernama variabel df?
df['Umur']['Nama']

12. Jika data berbentuk objek array, maka index dan value harus memiliki jumlah elemen yang sama?
True

13. Kita dapat memfilter saat akses dataframe menggunakan teknik berikut, KECUALI?
Grouping

14. Mana objek berikut ini yang dapat di jadikan DataFrame?
Semuanya

15. Mana attribute dibawah ini yang bisa di gunakan untuk mendapatkan numpy array dari DataFrame?
.values

In [0]:
import pandas as pd

x = pd.DataFrame([6,'aa',True][])
x

0       6
1      aa
2    True
dtype: object

In [0]:
df = [
      [0,2],
      [1,2]
]
df[0][1]

2