<b>Note</b> : Pada kuis kali ini kita akan menggunakan data diamonds.csv yang bisa kalian download disini. setelah di download, kalian pindahkan data tersebut satu level dengan direktori file notebook ini.

In [0]:
import pandas as pd
df = pd.read_csv('diamonds.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [0]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Columns Metadata :

carat : berat diamond

cut : kualitas diamond

color : warna diamond

clarity : level kemurnian diamonds

depth : tinggi dari diamond tabel

table : lebar  dari diamond tabel

price : harga diamond ($US)

x : panjang

y : lebar

z : kedalaaman

<h2>Quiz 1 : Process Grouping</h2>

Jelaskan prosess yang terjadi dalam grouping data menggungkan method <b>groupby()</b> dari pandas.

Ketika menggunakan method groupby() maka akan ada proses-proses berurutan yang terjadi yaitu :
1. Splitting : Memisahkan data kedalam suatu group berdasarkan kriteria tertentu.
2. Applying : Melakukan suatu operasi terhadap sekumpulan data di group-group tersebut.
3. Combining : Menggabungkan data menjadi suatu struktur baru

<h2>Quiz 2 : Grouping All Column</h2>
    
Group data diamond berdasarkan cut (kualitas), lakukan aggregasi dengan fungsi rata2.

Kemudian jawab pertanyaan berikut.
- Berapa harga rata2 dari diamond berkualitas Premium

In [0]:
# code here
df.groupby('cut').agg('mean')

              carat      depth      table  ...         x         y         z
cut                                        ...
Fair       1.046137  64.041677  59.053789  ...  6.246894  6.182652  3.982770
Good       0.849185  62.365879  58.694639  ...  5.838785  5.850744  3.639507
Ideal      0.702837  61.709401  55.951668  ...  5.507451  5.520080  3.401448
Premium    0.891955  61.264673  58.746095  ...  5.973887  5.944879  3.647124
Very Good  0.806381  61.818275  57.956150  ...  5.740696  5.770026  3.559801

[5 rows x 7 columns]

jawaban : 4584.257704

Expected Output :

![image.png](attachment:image.png)

<h2>Quiz 3 : Grouping Some Column base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan, dengan aggregasi pada column carat, table, dan price saja. dengan fungsi agregasi rata-rata.

Kemudian jawab pertanyaan berikut :
- Berapa harga diamond yang berkriteria premium dan berwarna J
- Berapa nilai dari carat diamond yang berkriteria very good dan berwarna H

Expected Output :

Note : gambar hanya sebagaian dari keseluruhan data

![image.png](attachment:image.png)

In [0]:
# code here
df.groupby(['cut','color'])[['carat','table','price']].agg('mean')

jawaban
1. 6294.591584
2. 0.915948

Expected Output : 

![image.png](attachment:image.png)

<h2>Quiz 4 : Group By Multiple Aggregate Base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan kemudian aggregasi objek group by nya dengan fungsi rata2 dan median.

Kemudian Jawab Pertanyaan berikut :

- Berapa nilai median dari harga diamond berkualitas good dan berwarna F

In [0]:
# code here
df.groupby(['cut','color']).agg(['mean','median'])

jawaban : 2647.0

Expected Output :

Note : gambar hanya sebagaian dari keseluruhan data

![image.png](attachment:image.png)

<h2>Quiz 5 : Group By With Different Aggregation for specific Column</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian aggreagate dengan fungsi max pada column price dan fungsi min pada column carat.

Kemudian Jawab Pertanyaan berikut :

- Berapa nilai max dari price untuk diamond berkualitas Ideal

Expected Output :

![image.png](attachment:image.png)

In [0]:
# code here
df.groupby('cut').agg({'price':'max','carat':'min'})

           price  carat
cut
Fair       18574   0.22
Good       18788   0.23
Ideal      18806   0.20
Premium    18823   0.20
Very Good  18818   0.20

jawaban : 18806

<h2>Quiz 6 : Group By With Custom Function</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian lakukan aggregasi dengan fungsi standarisasi pada column carat dan fungsi rentang nilai antara max dan min pada column price.

Kemudian jawab pertanyaan berikut :
- Berapa selisih harga tertinggi dan terendah dari diamond berkualitas Premium

Expected Output :

![image.png](attachment:image.png)

In [0]:
# code here
def rentang(x):
  return x.max() - x.min()

df.groupby('cut').agg({'carat':'std','price':rentang})

              carat  price
cut
Fair       0.516404  18237
Good       0.454054  18461
Ideal      0.432876  18480
Premium    0.515262  18497
Very Good  0.459435  18482

jawaban : 18497